extends layout

mixin searchField(parameter)
  - let fieldId = parameter + "Search";
  - let shownLabel = parameter.toUpperCase();
  div(class="five wide field")
    label(for=fieldId)=shownLabel
    input(id=fieldId name=parameter type="text")

block pane
  div(class="ui raised segment container" id="pane")
    h1(class="ui center aligned header")="Spotifind"
    form(class="ui form" onSubmit="formHandler(); return false;")
      div(class="fields")
        +searchField("artist")
        +searchField("venue")
        +searchField("area")
        div(class="one wide field")
            input(class="ui button" type="submit", value="Search!")

block main
  div(class="ui grid" id="main")
    div(id="map" class="thirteen wide column")
    div(class="ui list three wide column" id="sidebar")