extends layout

mixin searchField(parameter)
  var fieldId = parameter + "Search";
  var shownLabel = parameter.toUpperCase();
  label(for=fieldId)=shownLabel
  input(id=fieldId type="text")

block pane
  div(class="ui raised segment container" id="pane")
    h1="Spotifind"
    form(class="ui form" action="/" method="POST")
      +searchField("artist")
      +searchField("venue")
      +searchField("location")

block map
  div(id="map")