html,
body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#map {
    height: 100%;
}

#sidebar {
    height: 100%;
    margin-top: 0px;
    overflow-y: scroll;
    direction: rtl;
}

#main {
    height: 79%;
}

#pane {
    position: relative;
    z-index: 999;
    width: 100%;
}

.item {
    direction: ltr;
}

.item#focused {
    background-color: orange;
}

#fromDate {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#toDate {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
