html,
body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#map {
    height: 100%;
}

#sidebar {
    height: 100%;
    margin-top: 0px;
    overflow-y: scroll;
    padding-right: 25px;
}

#main {
    height: 79%;
}

#pane {
    position: relative;
    z-index: 999;
    width: 100%;
}

.item {
    direction: ltr;
    padding: 10px;
}

.item#focused {
    background-color: orange;
}

#fromDate {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#toDate {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#searchContainer {
    z-index: 9999;
    background-color: white;
    width: 70%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 15%;
    overflow: scroll;
    visibility: hidden;
}

.content.nosearch {
    background-color: white !important;
}

.content.search {
    background-color: rgb(198, 233, 245) !important;
}

.content.similar {
    background-color: rgb(124, 215, 245) !important;
}

#findEventsBtn {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
